# Прод-окружение api (dev-значения захардкожены в docker-compose.yml)
SECRET_KEY=change-me
DEBUG=0
ALLOWED_HOSTS=manshoo.ru
CSRF_TRUSTED_ORIGINS=https://manshoo.ru
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=manshoo
POSTGRES_USER=manshoo
POSTGRES_PASSWORD=change-me
